<p>This is Wine comp</p>

<!-- This is where Prodict card component will get  created and attached here -->
<div class ="productlist">


 <!-- Remove this P once product card is ready  -->
 
    <div class="prodcutcard">
<h3>This is where prodcut 1 card will go in </h3>
    </div>
    <div class="prodcutcard">
        <h3>This is where prodcut 2 card will go in </h3>
            </div>
            <div class="prodcutcard">
                <h3>This is where prodcut 2 card will go in </h3>
                    </div>
                    <div class="prodcutcard">
                        <h3>This is where prodcut 2 card will go in </h3>
                            </div>
                            <div class="prodcutcard">
                                <h3>This is where prodcut 2 card will go in </h3>
                                    </div>

                                    <div class="prodcutcard">
                                        <h3>This is where prodcut 2 card will go in </h3>
                                            </div>
                                            <div class="prodcutcard">
                                                <h3>This is where prodcut 2 card will go in </h3>
                                                    </div>
                                                    

</div>